services:
  junjo-app:
    build: ./junjo_app
    container_name: junjo-app
    restart: unless-stopped
    networks:
      - junjo-network
    env_file:
      - .env
    depends_on:
      - junjo-server-ingestion

  junjo-server-backend:
    image: mdrideout/junjo-server-backend:latest
    container_name: junjo-server-backend
    restart: unless-stopped
    volumes:
      - ./.dbdata/sqlite:/dbdata/sqlite
      - ./.dbdata/duckdb:/dbdata/duckdb
    ports:
      - "1323:1323"
      - "50053:50053"
    networks:
      - junjo-network
    env_file:
      - .env
    user: root # requires root for writing to the duckdb vol
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:1323/ping"]
      interval: 5s
      timeout: 3s
      retries: 25
      start_period: 5s
    depends_on:
      - junjo-server-ingestion

  junjo-server-ingestion:
    image: mdrideout/junjo-server-ingestion-service:latest
    container_name: junjo-server-ingestion
    restart: unless-stopped
    volumes:
      - ./.dbdata/badgerdb:/dbdata/badgerdb
    ports:
      - "50051:50051" # Public gRPC telemetry server port
      - "50052:50052" # Internal gRPC server port
    networks:
      - junjo-network
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "grpc_health_probe", "-addr=localhost:50052"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  junjo-server-frontend:
    image: mdrideout/junjo-server-frontend:latest
    container_name: junjo-server-frontend
    restart: unless-stopped
    ports:
      - "5153:80" # Access the frontend at http://localhost:5153
    env_file:
      - .env
    networks:
      - junjo-network
    depends_on:
      junjo-server-backend:
        condition: service_healthy

  caddy:
    build:
      context: ./caddy
    container_name: junjo-caddy
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "80:80" # For HTTP -> HTTPS redirect
      - "443:443" # For HTTPS
      - "443:443/udp" # For HTTP/3
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile # Mount your Caddyfile
      - caddy_data:/data # Persist Caddy data (certificates)
    networks:
      - junjo-network
    depends_on:
      - junjo-server-backend
      - junjo-server-frontend

volumes:
  caddy_data: # Persistent caddy data (certificates, configuration)

networks:
  junjo-network:
    driver: bridge
